<%- include('Layouts/Header.ejs') %>
<%
function formatDate(date) {
	var d = new Date(date),
	    month = '' + (d.getMonth() + 1),
	    day = '' + d.getDate(),
	    year = d.getFullYear();

	if (month.length < 2) 
	    month = '0' + month;
	if (day.length < 2) 
	    day = '0' + day;

return [year, month, day].join('-');
}

var formatter = new Intl.NumberFormat('es-CO', {
    style: 'currency',
    currency: 'COP',
  });
%>


<!-- Modal -->
<div id="NS" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Nameservers</h4>
      </div>
      <div class="modal-body">
        <table class="table">
        	<tbody>
        		<tr>
        			<td>Ns1</td>
        			<td>skljsfgjklf</td>
        		</tr>
        	</tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<link rel="stylesheet" href="public/assets/css/lib/datatable/dataTables.bootstrap.min.css">
<div class="content">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Dominios</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="display table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Dominio</th>
                                    <th>Registro</th>
                                    <th>Expiración</th>
                                    <th>Estado</th>
                                    <th>Precio</th>
                                    <th>NameServers</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<%
                            	domains.forEach(domain => { 
                            	%>
								  <tr>
                                    <td><%=domain.name%></td>
                                    <td><%=formatDate(domain.registration)%></td>
                                    <td><%=formatDate(domain.expiration)%></td>
                                    <td><%=domain.status%></td>
                                    <td><%=formatter.format(domain.price)%></td>
                                    <td><%=domain.ns1%>
                                    	<%=domain.ns2%>
                                    	<%=domain.ns3%>
                                    	<%=domain.ns4%>
                                    </td>
                                </tr>
                                <%
								}); 
                            	%>                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>


        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Servidores</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="display table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Dominio</th>
                                    <th>Registro</th>
                                    <th>Expiración</th>
                                    <th>Paquete</th>
                                    <th>Precio</th>
                                    <th>Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                            	<%
                            	servers.forEach(server => { 
                            	%>
								  <tr>
                                    <td><%=server.domain%></td>
                                    <td><%=formatDate(server.registration)%></td>
                                    <td><%=formatDate(server.expiration)%></td>
                                    <td><%=server.IdPackage%></td>
                                    <td><%=formatter.format(server.price)%></td>
                                    <td><%=server.status%></td>
                                </tr>
                                <%
								}); 
                            	%>                                
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>


        </div>

    </div><!-- .animated -->
</div><!-- .content -->
<script src="public/assets/js/lib/data-table/datatables.min.js"></script>
<script src="public/assets/js/lib/data-table/dataTables.bootstrap.min.js"></script>
<script src="public/assets/js/lib/data-table/dataTables.buttons.min.js"></script>
<script src="public/assets/js/lib/data-table/buttons.bootstrap.min.js"></script>
<script src="public/assets/js/lib/data-table/jszip.min.js"></script>
<script src="public/assets/js/lib/data-table/vfs_fonts.js"></script>
<script src="public/assets/js/lib/data-table/buttons.html5.min.js"></script>
<script src="public/assets/js/lib/data-table/buttons.print.min.js"></script>
<script src="public/assets/js/lib/data-table/buttons.colVis.min.js"></script>
<script src="public/assets/js/init/datatables-init.js"></script>


<script type="text/javascript">
    $(document).ready(function() {
      $('table.display').DataTable();
  } );
</script>
<%- include('Layouts/Footer.ejs') %>